*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store

#Git llevará un seguimiento de los cambios realizados en todos los archivos y carpetas en este directorio, pero hay algunos archivos que queremos que ignore. Esto lo hacemos creando un archivo llamado .gitignore en el directorio base. 